<html>
<head>
    <title>Contact us</title>
</head>
<body>
    <h1>Email-Sender</h1>

    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        <p>Subject: <input type="text" name="subject"></p>
        <p> e-mail : <input type="text" name="email"></p>
        <p>Message:<br/>
        <p><textarea name="message" rows="10" cols="50"></textarea></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>